## TUPLES IN PYTHON
Tuples are immutable sequences, can be used to store heterogeneous or homogeneous data in tuples. 

There two advantages of tuples with respect to lists:
<ol>
    <li>Tuples use less memory than lists.</li>
    <li>Tuples can be used as keys in dictionaries</li>
</ol>

<b style='color:red;'>WARNINGS:</b>
<ul>
    <li>Tuple elements cannot be replaced, removed.</li>
    <li>New elements/items cannot be added to Tuples.</li>
    <li>Tuples cannot be sorted, it is going to be in the order which is given at compile time.</li>
</ul>

#### Why do we need tuples (PERFORMANCE):
<ul>
    <li>Tuples are useful for small immutable lists like constants, menu items, etc.</li>
    <li>Tuples are very useful to return multiple results from a function/method. Also can be used as a single argument to pass multiple varaibles into a function/method.</li>
</ul>

### 1 - Define Tuples in Python
There are three ways to initialize tuples in Python.
<ol>
    <li>my_tuple = a, b, c, ...</li>
    <li>my_tuple = (a, b, c, ..)</li>
    <li>my_tuple = tuple(<i>iterable*</i>)</li>
</ol>
<em>* iterable means some list, set, range or string variable</em>

In [1]:
my_tuple = 1, 2, 3, "Adam", 4.3, None
my_tuple_2 = (1, 2, 3, "Adam", 4.3, None)
my_string = "Welcome to Python Science"
my_tuple_3 = tuple(my_string)
my_list = [1, 2, 3, "Adam", 4.3, None]
my_tuple_4 = tuple(my_list)

In [2]:
print("my_tuple, \r\ntype :", type(my_tuple), "\r\nValue :", my_tuple)

my_tuple,
type : <class 'tuple'>
Value : (1, 2, 3, 'Adam', 4.3, None)

In [3]:
print("my_tuple_2, \r\ntype :", type(my_tuple_2), "\r\nValue :", my_tuple_2)

my_tuple_2,
type : <class 'tuple'>
Value : (1, 2, 3, 'Adam', 4.3, None)

In [4]:
print("my_tuple_3, \r\ntype :", type(my_tuple_3), "\r\nValue :", my_tuple_3)

my_tuple_3,
type : <class 'tuple'>
Value : ('W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

In [5]:
print("my_tuple_4, \r\ntype :", type(my_tuple_4), "\r\nValue :", my_tuple_4)

my_tuple_4,
type : <class 'tuple'>
Value : (1, 2, 3, 'Adam', 4.3, None)

In [6]:
print("my_tuple[2]", my_tuple[2])
print("my_tuple[2:4]", my_tuple[2:4], "Type is", type(my_tuple[2:4]))
print("my_tuple[::2]", my_tuple[::2], "Type is", type(my_tuple[::2]))

my_tuple[2] 3
my_tuple[2:4] (3, 'Adam') Type is <class 'tuple'>
my_tuple[::2] (1, 3, 4.3) Type is <class 'tuple'>

### 2 - Methods on Tuples
<ul>
    <li><b>my_tuple.count(x)</b> -> Counts the occurance of 'x' value in tuple.</li>
    <li><b>my_tuple.index(x)</b> -> Returns the index of first occurance of 'x' value in tuple.</li>
</ul>

In [7]:
my_tuple_5 = (5, 5.7, "5", 55, 105, 5, None)

In [8]:
print("Count(5) :", my_tuple_5.count(5))

Count(5) : 2

In [9]:
print("Index(\"5\") :", my_tuple_5.index("5"))
# You can use "\" for escape chracter, like we escape from double-quotes here

Index("5") : 2

### 3 - Combining tuples into nested tuples
We cannot add new elements to tuples, but we can combine tuples into a new tuple.

<em>my_new_tuple = my_tuple_1, my_tuple_2, ...</em>

In [10]:
my_tuple_6 = (None, 2.00001, 5555, 1)
my_comb_tuple = (5, 9, 3.4), my_tuple_6
print("my_comb_tuple :", my_comb_tuple)
print("my_comb_tuple[0][1] :", my_comb_tuple[0][1])

my_comb_tuple : ((5, 9, 3.4), (None, 2.00001, 5555, 1))
my_comb_tuple[0][1] : 9

### Any Type of Data/Object Can Be Stored in TUPLES (likewise ALL SEQUENCE TYPES)

In [13]:
my_obj_tuple = ([1,2,4,5,"Data"], "String", {"my_key": 34}) 
print(my_obj_tuple)

my_obj_tuple[0].append("List New Value")
print(my_obj_tuple)

([1, 2, 4, 5, 'Data'], 'String', {'my_key': 34})
([1, 2, 4, 5, 'Data', 'List New Value'], 'String', {'my_key': 34})